body {
  background-color: black;
  /* color: #ffffff; */
  margin: 0px;
  padding: 0px;
}

.collapse navbar-collapse{ display: none;
  position: absolute;
  background-color: white;
  z-index: 1000;}

.collapse navbar-collapse.active{
  display: block;

}





.header {
  align-items: center;
  background-image: url(../img/headerfondo.jpeg);
  background-position: center;
  background-size: cover;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0ebde5;
  
}

header h1 {
  color: #ffffff;
  text-align: center;
  margin: opx;
  font-family: "Raleway", Medium, sans-serif;
  font-size: 50px;
}

p {
  color: #8d217f;
}

/* SECCION DE INICIO */

.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(../Gustavo-atton.github.io/assets/img/headerfondo.jpeg);
  background-size: cover;
  height: 90vh;
  color: #0ebde5;
  display: flex;
  align-items: center;
  border-radius: 2%;
  margin: 100px ;
}

.inicio .contenido-banner {
  padding: 30px;
/*   background-color: #000000; */
  max-width:  350px;
  margin: 20px ;
  text-align: center;
  border-radius: 40px;
}
.inicio .contenido-banner img {
  margin-top: 40px;
  border: 10px solid #8d217f;
  display: block;
  width: 60% ;
  margin: auto;
  border-radius: 100% ;
}
.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: "Righteous";
}
.inicio .contenido-banner h2 {
  font-size: 15px;
  font-weight: normal;
}
.inicio .contenido-banner .redes a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #8d217f ;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
.inicio .contenido-banner .redes a:hover {
  background-color: #0ebde5;
}

section p {color: #0ebde5}

section div  {
  border-radius:20px 
}

s/* ection div div div  div {border:3px solid #8d217f ;
border-radius:20px ;} */

.portafoliocolor{

color: #0ebde5;
}

footer p{
  color: #ffffff;
}